<div class="main-form text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">{{title}}</h1>
      </div>
      <div class="col-md-10 col-lg-8 mx-auto">
        <form [formGroup]="submitForm">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input formControlName="originalUrl" name="originalUrl" type="text" class="form-control form-control-lg" placeholder="Enter your url...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary" (click)="submit()">Let's go!</button>
            </div>
          </div>
        </form>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="error">
          {{errorMessage}}
        </div>
        <button class="btn btn-block mt-4 btn-lg btn-info" (click)="createSeed()" *ngIf="lastUrls.length < 1">
          Create examples
        </button>
      </div>
    </div>
    <div class="row" *ngIf="newUrl">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="bg-dark mt-4 p-2">
          <h4 class="m-0">
            <a href="javascript:void(0);" class="text-light" (click)="goToLink(newShortenedUrl)">
              {{newShortenedUrl.shortenedUrl}}
            </a>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto" *ngIf="lastUrls.length > 0">
        <div class="bg-light mt-4 mb-4 text text-left">
          <h3 class="text-info pt-3 pl-3">Top 100 most frequently</h3>
          <ul class="list-group url-list">
            <li class="list-group-item" *ngFor="let item of lastUrls">
              <h5 class="m-0">
                <a href="javascript:void(0);" (click)="goToLink(item)">
                  {{item.shortenedUrl}} - <span class="text-body">{{item.title}}</span>
                </a>
              </h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

